.main {
  display: flex;
  justify-content: center;
}

.aboutContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin-top: 84px;
  min-height: calc(100vh - 132px);
  height: 100%;
}

.navBtn {
  width: 100%;
  display: flex;
  justify-content: end;
}

.contentContainer {
  height: calc(100vh - 156px);
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  align-items: center;
}

