.customSelect {
  position: relative;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  padding: 8px 14px;
  background-color: var(--background-color);
  color: var(--secondary-color);
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  cursor: pointer;
}