.main {
  display: flex;
  justify-content: center;
}

.homepageContainer {
  width: 100%;
  max-width: 900px;
  display: flex;
  padding: 24px;
  min-height: calc(100vh - 206px);
  height: 100%;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.textModuleContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.imgContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.mainImg {
  width: 420px;
  height: fit-content;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 959px) {
  .homepageContainer {
    display: block;
    padding-left: 12px;
    padding-right: 12px;
  }

  .content {
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: column;
  }

  .mainImg {
    width: 500px;
  }
}

@media only screen and (max-width: 768px) {
  .homepageContainer {
    min-height: calc(100vh - 242px);
    margin-bottom: 110px;
    margin-top: 84px;
  }

  .mainImg {
    width: 90%;
    max-width: 450px;
    height: auto;
  }
}