.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 0px 12px 0px 12px;
  height: 84px;
  position: fixed;
  top: 0;
  width: calc(100% - 24px);
  z-index: 1;
  background-color: transparent;
}

.logo {
  padding-top: 8px;
  width: 56px;
}

.actionsContainer {
  display: flex;
  align-items: center;
}

.select {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.icon {
  margin: 8px;
  color: var(--icon-color);
}