body {
  --background-color: #fafafa;
  --primary-color: #8a2be2;
  --secondary-color: #1f2023;
  --icon-color: #1f2023;
  --border-color: #caced1;
  --background-symbols: #e6e6e6;
  --font-family: monospace;
}

.dark {
  --background-color: #1f2023;
  --primary-color: #8a2be2;
  --secondary-color: #fafafa;
  --icon-color: #fafafa;
  --border-color: #545b60;
  --background-symbols: #43454c;
}

@media only screen and (max-width: 600px) {
  .mobile-dnone {
    display: none!important;
  }
}
