.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 80%;
  max-width: 600px;
}

.subtitle {
  font-size: 44px;
  color: var(--secondary-color);
  font-family: var(--font-family);
  text-align: left;
  margin: 24px 0px 0px 0px;
}

.p1 {
  font-size: 26px;
  color: var(--primary-color);
  font-family: var(--font-family);
  text-align: left;
  font-weight: bold;
  margin: 24px 0px 0px 0px;
}

.skillContainer {
  text-align: left;
}

.skill {
  display: inline-block;
  background-color: var(--primary-color);
  color: #FFFFFF;
  font-family: var(--font-family);
  border-radius: 21px;
  box-shadow: 0 15px 15px rgba(0,0,0,.36);
  font-size: 18px;
  padding: 10px 14px;
  margin-right: 6px;
  margin-top: 12px;
  text-align: center;
}

@media only screen and (max-width: 2400px) {
  .subtitle {
    font-size: 36px;
  }

  .p1 {
    font-size: 22px;
  }

  .skill {
    font-size: 14px;
    padding: 8px 12px;
  }
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 600px) {
  .content {
    width: calc(100% - 24px);
  }

  .subtitle {
    font-size: 28px;
  }

  .par1 {
    font-size: 18px;
  }

  .skill {
    font-size: 12px;
    border-radius: 21px;
    padding: 8px 8px;
  }
}