.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 80%;
  max-width: 600px;
}

.subtitle {
  font-size: 36px;
  color: var(--secondary-color);
  font-family: var(--font-family);
  text-align: left;
  margin: 24px 0px 0px 0px;
}

/*@media (hover: hover) { 
  .subtitle:hover { 
    font-size: 46px;
    transition: 2s;
  } 

  .subtitle:not(:hover) {
    font-size: 36px;
    transition: 2s;
  }
}*/

.par1 {
  font-size: 22px;
  color: var(--primary-color);
  font-family: var(--font-family);
  text-align: left;
  font-weight: bold;
  margin: 24px 0px 0px 0px;
}

/*@media (hover: hover) { 
  .par1:hover { 
    font-size: 26px;
    transition: 2s;
  } 

  .par1:not(:hover) {
    font-size: 22px;
    transition: 2s;
  }
}*/

.skillContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  text-align: left;
  max-width: 100%;
  margin: 0px;
}

.skill {
  font-size: 14px;
  background-color: var(--primary-color);
  color: var(--background-color);
  font-family: var(--font-family);
  border-radius: 21px;
  box-shadow: 0 15px 15px rgba(0,0,0,.36);
  padding: 8px 4px;
  margin-right: 6px;
  margin-top: 12px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .content {
    width: calc(100% - 24px);
  }

  .subtitle {
    font-size: 28px;
  }

  .par1 {
    font-size: 18px;
  }

  .skill {
    font-size: 12px;
    background-color: var(--primary-color);
    color: var(--background-color);
    font-family: var(--font-family);
    border-radius: 21px;
    box-shadow: 0 15px 15px rgba(0,0,0,.36);
    padding: 6px 4px;
    margin-right: 6px;
    margin-top: 12px;
    text-align: center;
  }
}